html
  head
    title Hoe werkt Werkmanrooster ?
    link(rel="stylesheet", href="/css/style.css", type="text/css")
    link(rel="stylesheet", href="/css/skeleton.css", type="text/css")
    link(rel="stylesheet", href="/other/prism.css", type="text/css")
    //- meta(http-equiv="refresh", content="2")

  body
    .container
      .row
        .sidebar.five
          div
            h5 Profielwerkstuk
            p Hoe werkt Werkmanrooster?
            //- sup Door :
            a(href="http://96aa48.github.io")
              img(src="/images/face.png")
            sup Bram van der Veen
          ul
            for article in articles
              li
                a(href="/" + (article.match(':') ? article.split(':')[0] : article))=article.match(':') ? article.split(':')[1] : article
        .content.seven
          div!=markdown

    script(type="text/javascript", src="/other/prism.js")
