.sidebar {
  height: 100%;
  border-right: solid 1px #DDD;
  float: left;
  margin-right: 20px;
  padding-right: 20px;

  h5, p, sup {
    text-align: center !important;
    display: block;
    margin: 0;
  }

  p {
    margin-top: -10px;
    font-size: 15px;
  }

  img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: solid 3px #96AA48;
    margin: 0 auto;
    display: block;
    -webkit-transition: ease 1s;

    &:hover {
      border-color: #FF1412;
      -webkit-transition: ease 1s;
    }
  }

  ul {
    list-style: none;

    li {
      margin: 0;
      padding: 0;
      a {
        padding: 0;
        margin: 0;
        display: block;
        color: initial;
        text-decoration: none;
        border-left: solid 5px #FF1412;
        border-bottom: solid 1px #CCC;
        height: 30px;
        line-height: 30px;
        padding-left: 7px;

        &:visited {
          border-color: #96AA48;
        }
      }
    }
  }
}

div.content {
  > div {
    padding: 10px;
  }

  a {
    color: #3949D4;
  }

  blockquote {
    background-color: #DDD;
    width: 500px;
    padding: 15px;
    padding-bottom: 1px;
    color: #666;
    display: inline-block;
  }

  pre {
    font-size: 13px;
  }
}

.night {
  background-color: #0A0905;
  color: #C5C9B8;

  * {
    background-color: #0A0905;
    color: #C5C9B8 !important;
  }

  hr {
    border-color: #C5C9B8;
  }
}
